Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Builds/WindowsNoEditor/VPGI_Projekt.exe
Builds/WindowsNoEditor/Manifest_NonUFSFiles_Win64.txt
Build/WindowsNoEditor/FileOpenOrder/CookerOpenOrder.log
Build/WindowsNoEditor/FileOpenOrder/EditorOpenOrder.log
Builds/WindowsNoEditor/Engine/Extras/Redist/en-us/UE4PrereqSetup_x64.exe
Builds/WindowsNoEditor/Jotincio.zip
Builds/WindowsNoEditor/VPGI_Projekt/Content/Paks/VPGI_Projekt-WindowsNoEditor.pak
